{% extends "base.html" %}

{% block judul %}
  {{page_title}}
{% endblock judul %}

{% block content %}
<div class="container">
  <h1>Tambah Menu</h1>
  <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="form-group">
        <label for="{{form.food_name.id_for_label}}">Nama Menu :</label>
        {# {{form.food_name.label}} #}
        <input type="text" class="form-control" name="{{form.food_name.name}}" maxlength="{{form.food_name.max}}" required id="{{form.food_name.id_for_label}}"> 
        {# {{form.food_name}} #}
      </div>

    <div class="form-group">
        <label for="{{form.food_pic.id_for_label}}">Gambar Menu : </label>
        <input type="file" name="{{form.food_pic.name}}">
    </div>

    <div class="form-group">
        <label for="{{form.food_cat.id_for_label}}">Kategori Menu :</label>
        <input type="text" class="form-control" name="{{form.food_cat.name}}" maxlength="{{form.food_cat.max}}" required id="{{form.food_cat.id_for_label}}">
        {# {{form.food_cat}} #}
    </div>

    <div class="form-group">
        <label for="{{form.food_price.id_for_label}}">Harga :</label>
        <input type="text" class="form-control" name="{{form.food_price.name}}" maxlength="{{form.food_price.max}}" required id="{{form.food_price.id_for_label}}">
    </div>

    {# <input type="submit" class="btn btn-primary" name="Tambah"> #}
    <button type="submit" class="btn btn-primary">Tambah</button>
    <a class="btn btn-danger" href="{% url 'chef:listmenu' %}">Batal</a>
  </form>
</div>
{% endblock content %}