{% extends "base.html" %}
{% block content %}
  <nav class="navbar navbar-expand-lg navbar-warning bg-warning">
  <a class="navbar-brand" href="#">Chef Page</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'chef:listmenu' %}">Menu</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'chef:listmenu' %}">Ordering</a>
      </li>
  </div>
</nav>
  <a class="btn btn-primary mt-5 mb-3 ml-5" href="{% url 'chef:addmenu' %}">Tambah Menu</a>
  <ul>
    {% for menu in object_list %}
      <div class="card float-left ml-3" style="width: 18rem; height: 20rem">
        <img class="card-img-top mx-auto mt-2 " src="{{menu.food_pic.url}}" alt="{{menu.food_pic}}" style="width: 10rem; height:10rem">
        <div class="card-body">
          <h3 class="card-text text-center">{{menu.food_name}}</h3>
          <div class="container mt-5">
            <img src="/static/img/pricetag.svg" style="width:20px; height:20px">
            <span class="text-danger text-center font-weight-bold">{{menu.food_price}}</span>
          </div>
        </div>
      </div>
    {% endfor %}
  </ul>
{% endblock content %}